.Rproj.user
.Rhistory
.RData
.Ruserdata
./data/source/.
./data/Calidad_Estacion4.csv
./data/Calidad_Estacion8.csv
./data/Calidad_Estacion11.csv
./data/Calidad_Estacion16.csv
./data/Calidad_Estacion17.csv
./data/Calidad_Estacion18.csv
./data/Calidad_Estacion24.csv
./data/Calidad_Estacion27.csv
./data/Calidad_Estacion35.csv
./data/Calidad_Estacion38.csv
./data/Calidad_Estacion39.csv
./data/Calidad_Estacion40.csv
./data/Calidad_Estacion47.csv
./data/Calidad_Estacion48.csv
./data/Calidad_Estacion49.csv
./data/Calidad_Estacion50.csv
./data/Calidad_Estacion54.csv
./data/Calidad_Estacion55.csv
./data/Calidad_Estacion56.csv
./data/Calidad_Estacion57.csv
./data/Calidad_Estacion58.csv
./data/Calidad_Estacion59.csv
./data/Calidad_Estacion60.csv
./data/CalidadAire.csv
./idea
./ipynb_checkpoints
